DATABASE_URL="file:./dev.db"

SERVICEM8_API_KEY=""
SERVICEM8_COMPANY_UUID=""

XERO_CLIENT_ID=""
XERO_CLIENT_SECRET=""
XERO_REDIRECT_URI="http://localhost:3000/xero/callback"
XERO_TENANT_ID=""
XERO_ACCESS_TOKEN=""
XERO_REFRESH_TOKEN=""
